/**********************************************************
  GLOBALS
**********************************************************/

p, a, li, h3, h4, h5, h6, input, label {
  font-weight: 400;
}

/* Override Chrome autofill form input yellow color */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


/**********************************************************
  NAVBAR
**********************************************************/

.navbar-brand {


  h1 {
    color: $brand-primary;
    margin-top: 12px;
    font-size: 1.3em;
    font-weight: bold;
    display: inline;
  }
}


/**********************************************************
  HOMEPAGE
**********************************************************/






/**********************************************************
  JUMBOTRON
**********************************************************/






/**********************************************************
  MATCH SHOW PAGE
**********************************************************/




